@import url(__grid/photo__grid.css);
@import url(__picture/grid__picture.css);


.photos {
    max-width: fit-content;
    padding: 0 16px;
}

@media screen and (max-width: 1023px) {
    .photos {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .photos {
        padding: 0 16px;
    }
}