@import url(__caption/lead__caption.css);
@import url(__picture/lead__picture.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__title/lead__title.css);

.lead {
    width: fit-content;
    margin: 0 auto 92px;
    padding: 0 148px;
    text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        padding: 0 48px;
    }
}